[user]
	name = Masaki Sato
	email = g5.taisa007@gmail.com
[core]
    editor = vim
	excludesfile = /Users/satoumasaki/.gitignore_global
    autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
        default = current
[alias]
        s = status
        c = checkout
        d = diff --color --check
        cm = commit
        cma = commit -a
        a = add
        p = pull
        psh = push
        b = branch
        f = fetch --prune
        m = merge
        t = tag
        sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
        for-each = for-each-ref --format='%(committerdate) %09 %(authorname) %09 %(refname) '
        logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
        history = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
