[user]
	name = sato.masaki
	email = g5.philip7322@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[alias]
	s = status
	c = checkout
	d = diff --color --check
 	cm = commit
 	cma = commit -a
	a = add
	p = pull
	psh = push
	b = branch
	f = fetch --prune
	m = merge
	t = tag
	logg  =  log --stat --decorate = short --pretty = format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'


