[user]
	name = sato.masaki
	email = sato.masaki@aainc.co.jp
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[alias]
	s = status
	c = checkout
	d = diff --color --check
 	cm = commit
 	cma = commit -a
	a = add
	p = pull
	psh = push
	b = branch
	f = fetch --prune
	m = merge
	t = tag
	sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
	for-each = for-each-ref --format='%(committerdate) %09 %(authorname) %09 %(refname) '
	logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	history = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
